.board {
	position:relative;
	margin:0px;
	padding:0px;
	overflow-x:auto;
	overflow-y:visible;

	&__header {
		padding:0px 0px 0px 200px;
	}

	&__header-group {
		display:flex;
		align-items:stretch;
		justify-content:flex-start;
		margin:0px;
		padding:0px;
		list-style:none;

		> li {
			display:block;
			margin:0px;
			padding:0px;

			+ li {
				border-left:1px solid #EEE;
			}
		}

		&--minor > li {
			min-width:30px;
			padding-left:5px;
		}

		&--major {
			&__title {
				margin:0px 0px 10px 0px;
				padding:0px 0px 0px 5px;
			}
		}
	}

	&__tasks {
		display:block;
		margin:0px;
		padding:0px;
		list-style:none;
	}
}

.board-task {
	display:flex;
	align-items:center;
	justify-content:flex-start;
	margin:0px;
	padding:0px;

	&__label {
		position:sticky;
		left:0px;
		z-index:1;
		width:200px;
		margin:0px;
		padding:5px;
		background:#EEE;
	}

	&__item {
		position:relative;
		height:1em;

		&--active {
			background:#CCC;
		}

		&--inactive {
			background:#DDD;
		}
	}
}